@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

:root {
    --green : #62fbd8;
    --bright-font-color : #ccd6f6;
    --font-color :#8892b0;
    --main-bg-color : #0a192f;
    --light-navy: #112240;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

a, a:focus, a:target, a:hover {
   text-decoration: none;
   color: inherit;
}
body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.h100 {height: 100%;}
.w100 {width: 100%;}

.desktop {display: block;}

.tablet {display: none;}

.smartphone {display: none;}


@media screen and (max-width : 1024px) {
    .tablet {display: block;}
    .desktop {display: none;}
}
@media screen and (max-width : 560px) {
    .smartphone {display: block;}
    .desktop {display: none;}
}