html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--font-sans);
    color: var(--font-color);
}

/* CONTENU PRINCIPAL */
main {
    display: grid;
    grid-template-columns: 0.5fr repeat(8, 1fr) 0.5fr;
    grid-template-rows: repeat(5, auto);
    gap: 0;
    max-width: 1920px;
}

/* INCREMENTATION NOMBRE DE SECTIONS */
section {
    counter-increment: section 1;
}

:root {
    --header-height : 90px;
}
/* HEADER */
header {
    font-family: var(--font-mono);
    display: grid !important;
    grid-area: 1 / 1 / 2 / 11;
    height: var(--header-height);
    width: 100%;
    grid-template-columns: 135px repeat(5, 1fr) repeat(4, 170px);
    grid-template-rows: 1fr;
    gap: 0 10px;
    align-items: center;
    background-color: rgba(10, 25, 47, 0.85);
    box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
}
    .logo {grid-area: 1 / 3 / 2 / 4;}
    #about-btn {grid-area: 1 / 6 / 2 / 7;}
    #experience-btn {grid-area: 1 / 7 / 2 / 8;}
    #contact-btn {grid-area: 1 / 8 / 2 / 9;;}
    #resume-btn {grid-area: 1 / 9 / 2 / 10;}

    .header-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--bright-font-color);
        font-size: 15px;
        letter-spacing: 0.7px;
        counter-increment: item 1;
        padding: 8px;
        transition: all 0.1s ease;
    }
    .header-btn::before {
        color: var(--green);
        content: "0" counter(item) ".";
        margin-right: 5px;
    }

    .header-btn:focus {
        outline: 2px dashed var(--green);
        outline-offset: 3px;
    }

    .header-btn:hover {
        color: var(--green);
        /* background: 0.2; */
    }

    #resume-btn {
        padding: 10px;
        white-space: nowrap;
    }


    /* RESEAUX */
.socials_btns {
    grid-area: 2 / 1 / 6 / 2;
    position: relative;
    display: flex;
    justify-content: center;
}
    .socials_sticky {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
        align-items: center;
        justify-content: center;
    }

    .socials_sticky li:last-child {
        margin-bottom: 15px;
    }

    .socials_sticky li {
        margin: 5px 0;
    }

    .socials_sticky::after {
        content: "";
        height: 100px;
        width: 1px;
        background-color: var(--bright-font-color);
    }
        .socials_btn {
            display: block;
            padding: 3px;
            width: 25px;
            height: 25px;
            background-size: contain;
            transition: all 0.1s ease;
        }
            .socials_btn:hover, .socials_btn:focus {
                transform: translateY(-3px);
            }
            .socials_btn:focus {
                outline: 2px dashed var(--green);
                outline-offset: 3px;
            }

        #linkedin {
            background: url("/ressources/linkedin_base.svg") no-repeat center;
        }

        #linkedin:focus {
            background: url("/ressources/linkedin_hover.svg") no-repeat center;
        }

        #mail {
            background: url("/ressources/mail_base.svg") no-repeat center;
        }
        #mail:focus {
            background: url("/ressources/mail_hover.svg") no-repeat center;
        }

/* PREMIER BLOC / INTRODUCTION */
#introduction {
    grid-area: 2 / 2 / 3 / 10;
    min-height: calc(100vh - var(--header-height));
    width: 100%;
    align-items: center;
    /* justify-content: center; */
}

    .introduction_content {
        margin-left: 100px;
    }
        .introduction_header {
            color: var(--green);
            font-size: clamp(14px ,5vw, 16px);
            font-family: var(--font-mono);
            font-weight: 400;
            letter-spacing: 0.5px;
        }

        .introduction_name,
        .introduction_description {
            color: var(--bright-font-color);
            font-size: clamp(40px, 8vw, 80px);
            font-weight: 600;
            line-height: 1.1;
            margin-top: 15px;
        }

        .introduction_description {
            line-height: 0.9;
        }

        .introduction_presentation {
            font-weight: bold;
            margin-top: 25px;
            max-width: 540px;
            line-height: 1.5;
        }
            .colored_text {
                color: var(--green);
            }

        .generic_btn {
            font-family: var(--font-mono);
            color: var(--green);
            text-align: center;
            transition: all 0.2s ease;
            border-radius: 3px;
            border: var(--green) solid 2px;

        }
        .generic_btn:hover {
            color: var(--green);
            background-color: RGBA(98,251,216,0.2);
        }
        .introduction_btn {
            padding: 1rem 1.75rem;
            align-items: center;
            width: fit-content;
            margin-top: 50px;
        }

            .introduction_btn::before {
                content: "";
                display: block;
                background: url("/ressources/down-arrow-download-svgrepo-com.svg") no-repeat center;
                width: 10px;
                height: 10px;
                margin-right: 15px;
            }


/* A PROPOS */
#a_propos {
    position: relative;
    grid-area: 3 / 2 / 4 / 10;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px 20px;
    padding: 0 100px;
}

/* PLACEMENT GRID */
.a_propos_header {grid-area: 1 / 1 / 2 / 3;}
.a_propos_content {grid-area: 2 / 1 / 7 / 3;}
.a_propos_photo {grid-area: 2 / 3 / 7 / 5;}
.a_propos_technologies {grid-area: 8 / 1 / 10 / 3;}

  
        .numbered_heading {
            font-size: 40px;
            font-weight: bold;
            align-items: center;
            color: var(--bright-font-color);
        }
        .numbered_heading::before {
            font-size: 30px;
            font-family: var(--font-mono);
            color: var(--green);
            content: "0" counter(section) ".";
            margin-right: 5px;
            align-self: flex-end;
        }

        .numbered_heading::after {
            position: relative;
            display: inline-block;
            content: "";
            height: 1px;
            width: 200px;
            background-color: var(--font-color);
            margin-left: 15px;
            opacity: 0.5;
        }

        .a_propos_content {
            justify-content: space-evenly;
        }
            .a_propos_content p {
                font-size: 20px;
                line-height: 1.3;
                font-weight: bold;
            }

        .a_propos_photo {
            background: url("/ressources/Capture.JPG")no-repeat center / cover;
            border-radius: 5px;
            width: 70%;
            /* filter: grayscale(100%) contrast(1);
            mix-blend-mode: multiply; */
        }

            .overlay {    
                border-radius: 5px;
                z-index: 2;
                background-color: RGBA(98,251,216,0.5);
                transition: all 0.2s ease;
            }

            .a_propos_photo:hover .overlay {
                background-color: transparent;
            }
                .overlay::after {
                    content: "";
                    position: relative;
                    display: block;
                    background-color: transparent;
                    border: var(--green) solid 2px;
                    height: 100%;
                    width: 100%;
                    top: 15px;
                    left: 15px;
                    z-index: -2;
                    border-radius: 5px;
                    transition: all 0.2s ease;
                }

                .a_propos_photo:hover .overlay::after {
                    top: 10px;
                    left: 10px;
                }

        .a_propos_technologies ul {
            justify-content: space-evenly;
            flex-wrap: wrap;
            height: 60%;
            font-family: var(--font-mono);
        }
            .a_propos_technologies li {
                margin: 5px 0;
                font-size: 15px;
            }
            .a_propos_technologies li::before {
                content: "▹";
                position: relative;
                color: var(--green);
                margin-right: 5px;
            }

/* EXPERIENCE */
#experience {
    grid-area: 4 / 4 / 5 / 8;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

    .experience_tablist {
        width: 70%;
    }

        /* BOUTONS */
        .tablist_item {
            border: none;
            background-color: transparent;
            border-left: var(--font-color) solid 1px;
            cursor: pointer;
            min-height: 35px;
            font-family: var(--font-mono);
            color: var(--font-color);
            text-align: start;
            padding: 0 25px;
            transition: all 0.2s ease;
        }

        .tablist_item.selected {
            color: var(--green);
            border-left: var(--green) solid 1px;
        }

        .tablist_item.clicked {
            background-color: var(--light-navy);
        }

        .tablist_item:hover{
            color: var(--green);
            background-color: var(--light-navy);
        }


        /* LISTE EXPERIENCE */
        .experience_item.selected {
            display: flex;
            flex-direction: column;
        }

        .experience_item {
            display: none;
            height: auto;
            width: auto;
            padding: 10px;
            transition: all 0.1s ease;
        }

        .experience_item.clicked {
            outline: 2px dashed var(--green);
            outline-offset: 3px;
        }

            /* TITRE */
            .exp_title,
            .exp_date {
                font-family: var(--font-mono);
            }
            .exp_title {
                font-size: 22px;
                font-weight: bold;
            }

            .exp_date {
                margin: 10px 0;
            }

            .experience_item ul {
                margin: 15px 0;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                height: -webkit-fill-available;
            }
                .experience_item li {
                    line-height: 25px;
                    margin: 5px;
                }

                .experience_item li::before {
                    content: "▹";
                    position: relative;
                    color: var(--green);
                    margin-right: 5px;
                }

/* PLACEMENT GRID */
.experience_header {grid-area: 1 / 1 / 2 / 5;}
.experience_tablist {grid-area: 2 / 1 / 5 / 2;}
.experience_list {grid-area: 2 / 2 / 5 / 5;}
footer {
    grid-area: 5 / 2 / 6 / 10;
    height: 65px;
    align-items: center;
    justify-content: center;
    font-family: var(--font-mono);
    font-size: 15px;
}